<footer id="site-footer">
  <div class="footer-logo-container">
    <a class="footer-logo-link" href="{{ site.baseurl }}"></a>
    <p class="footer-description">{{ site.description }}</p>
  </div>
  <div>
    <nav>
      <ul class="footer-social-nav">
        <li><a class="github" href="https://github.com/thematrimix">GitHub</a></li>
        <li><a class="twitter" href="https://twitter.com/thematrimix">Twitter</a></li>
        <li><a class="linkedin" href="www.linkedin.com/pub/joshua-vaughn/27/333/491/en">LinkedIn</a></li>
        <li><a class="facebook" href="https://www.facebook.com/joshua.m.vaughn">Facebook</a></li>
        <li><a class="googleplus" href="https://plus.google.com/109748043431465762592">Google+</a></li>
        <li><a class="rss-feed" href="{{ "feed.xml" | prepend: site.baseurl }}">RSS</a></li>
      </ul>
    </nav>
  </div>
</footer>
