<footer class="site-footer">
  <div class="">
    <a href="{{ site.baseurl }}">Image Placeholder</a>
    <p class="footer-description">{{ site.description }}</p>
  </div>
  <div>
    <nav>
      <ul class="footer-social-nav">
        <li><a class="github" href="#0">GitHub</a></li>
        <li><a class="twitter" href="#0">Twitter</a></li>
        <li><a class="linkedin" href="#0">LinkedIn</a></li>
        <li><a class="facebook" href="#0">Facebook</a></li>
        <li><a class="googleplus" href="#0">Google+</a></li>
        <li><a class="rss-feed" href="#0">RSS</a></li>
      </ul>
    </nav>
  </div>
</footer>
