<header id="site-header">
  <div class="site-header-hamburger">
    <a class="hamburger-trigger">
      <span class="hamburger-text">Menu</span>
      <span class="hamburger-icon"></span>
    </a>
  </div>

  <div class="header-main-nav-container">
    <nav>
      <ul class="header-main-nav">
        <li><a href="{{ site.baseurl }}">Home</a></li>
        <li><a href="{{ "blog/" | prepend: site.baseurl }}">Blog</a></li>
        <li><a href="{{ "storyboard/" | prepend: site.baseurl }}">Storyboard</a></li>
        <li><a href="{{ "about/" | prepend: site.baseurl }}">About</a></li>
    </nav>

    <h3 class="section-header">Follow me</h3>

    <nav>
      <ul class="header-social-nav">
        <li><a class="icon github" href="https://github.com/thematrimix">GitHub</a></li>
        <li><a class="icon twitter" href="https://twitter.com/thematrimix">Twitter</a></li>
        <li><a class="icon linkedin" href="www.linkedin.com/pub/joshua-vaughn/27/333/491/en">LinkedIn</a></li>
        <li><a class="icon facebook" href="https://www.facebook.com/joshua.m.vaughn">Facebook</a></li>
        <li><a class="icon googleplus" href="https://plus.google.com/109748043431465762592">Google+</a></li>
        <li><a class="icon rss-feed" href="{{ "feed.xml" | prepend: site.baseurl }}">RSS</a></li>
      </ul>
    </nav>
  </div>

  <div class="header-main-image"></div>
</header>
