#site-content {
  @include outer-container;
  @include margin(null auto null auto);
  z-index: $content-zindex;
}
@include media($medium-screen-up) {
  #site-content {
    @include margin(0 null null null);
  }
}

.overflow-hidden {
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.row {
  @include margin(rem(5) null rem(5) null);
}

.post-header {
  @include margin(rem(5) null rem(5) null);

  .post-title {
    @include margin(0 0 0 0);
    font-size: 1.1em;
    font-weight: bold;
  }

  .post-meta {
    font-size: .8em;
    font-weight: bold;
    color: $site-theme-color-highlight;

    &:hover {
      color: $site-theme-color-main;
    }
  }
}

.post-content {
}

#wrapper-landing {
  @include fill-parent();
  @include padding(0 rem(10) 0 rem(10));

  div.row:not(:first-child) {
    display: none;
  }
  @include media($medium-screen-up) {
    div.row:not(:first-child) {
      @include row();
    }
  }

  div.row:first-child .column-landing {
    text-align: center;
  }

  .column-landing {
  }
  @include media($medium-screen-up) {
    .column-landing {
      @include span-columns(2);
    }
  }
  @include media($large-screen-up) {
    .column-landing {
      @include span-columns(4);
    }
  }

  .link-landing-action {
    @include border-color($site-theme-color-main null $site-theme-color-main null);
    @include border-style(solid null solid null);
    @include border-width(rem(3) null rem(3) null);
    @include margin(rem(5) null rem(5) null);
    @include transition-property(all);
    @include transition-duration(0.4s);
    @include transition-timing-function(ease-in-out);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5em;
    color: $site-theme-color-main;
    border-radius: 1px;
    width: 60%;

    &:hover {
      @include background($site-theme-color-highlight);
      @include transition-property(all);
      @include transition-duration(0.4s);
      @include transition-timing-function(ease-in-out);
      color: white;
    }
  }
  @include media($medium-screen-up) {
    .link-landing-action {
      font-size: 2em;
    }
  }
  @include media($large-screen-up) {
    .link-landing-action {
      font-size: 3em;
    }
  }
}
@include media($medium-screen-up) {
  #wrapper-landing {
    @include fill-parent();
  }
}
