#site-footer {
  @include background(linear-gradient($site-theme-color-main, black));
  width: 100%;
  color: white;
  text-align: center;
}

.footer-logo-container {
  @include padding(null rem(10) null rem(10));

  .footer-logo-link {
    @include background(url("../images/logo-optimised.svg") center center no-repeat);
    @include size(100% rem(56));
    @include margin(rem(5) null null null);
    background-size: contain;
    display: inline-block;
  }
  @include media($large-screen-up) {
    .footer-logo-link {
      height: rem(100);
    }
  }

  .footer-description {
    font-size: .8em;
  }
}

.footer-social-nav {
  li {
    display: inline-block;
    @include padding(null rem(1) null rem(1));

    a {
      @include padding(0 0 0 0);
      @include size(rem(44) rem(44));
      @include hide-text;
      cursor: pointer;
      display: inline-block;

      &.github {
        @include background(url("../images/media-icons/github.svg") center center no-repeat);
      }

      &.twitter {
        @include background(url("../images/media-icons/twitter.svg") no-repeat);
      }

      &.linkedin {
        @include background(url("../images/media-icons/linkedin.svg") no-repeat);
      }

      &.facebook {
        @include background(url("../images/media-icons/facebook-square.svg") no-repeat);
      }

      &.googleplus {
        @include background(url("../images/media-icons/googleplus-square.svg") no-repeat);
      }

      &.rss-feed {
        @include background(url("../images/media-icons/rss-feed.svg") no-repeat);
      }
    }
  }
}
@include media($medium-screen-up) {
  .footer-social-nav {
    li {
      @include padding(null rem(5) null rem(5));
    }
  }
}
