html,
body {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  @include background(url("../images/cream_flat.jpg") repeat);
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;
}

a {
  color: $site-link-color-main;

  &:hover {
    color: $site-link-color-hover;
  }
}
