html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

body {
  background: url("../images/cream_flat.jpg") repeat;
}

a {
  color: $site-link-color-main;

  &:hover {
    color: $site-link-color-hover;
  }
}
