html, body {
  height: 100%;

}

body {
  background: url("../images/cream_flat.jpg") repeat;
}

a {
  color: $site-link-color-main;

  &:hover {
    color: $site-link-color-hover;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.text-center {
  text-align: center;
}
