#site-header {
  @include size(100% $header-height);
  @include position(relative, null null null null);
}

.site-header-hamburger {
  @include position(absolute, 0 null null null);
  @include size(100% $header-bar-size);
  @include background($site-theme-color-main);
  z-index: $header-zindex;
  box-shadow: 0 rem(1) rem(2) rgba(0, 0, 0, 0.3);
}
@include media($medium-screen-up) {
  .site-header-hamburger {
    @include background(transparent);
    box-shadow: none;
  }
}
@include media($large-screen-up) {
  .site-header-hamburger {
    @include transition-property(background-color);
    @include transition-duration(0.3s);
    @include transform(translate3d(0, 0, 0));
    @include backface-visibility(hidden);
    @include size(100% $header-bar-size-large);

    &.is-fixed {
      /* when the user scrolls down, we hide the header right above the viewport */
      @include position(fixed, ($header-bar-size-large * -1) null null null);
      @include background(rgba(2, 23, 37, 0.96));
      @include transition-property(transform);
      @include transition-duration(0.3s);
    }
    &.is-visible {
      /* if the user changes the scrolling direction, we show the header */
      @include transform(translate3d(0, 100%, 0));
    }
  }
}

.hamburger-trigger {
  @include position(absolute, null 0 null null);
  @include padding(null ($hamburger-size * 10) null null);
  @include margin(($hamburger-size * 3) ($hamburger-size * 5) null null);
  height: $hamburger-size * 9;
  cursor: pointer;
  color: $hamburger-color;

  &:hover {
    @include background($site-theme-color-highlight);
    border-radius: rem(5);
  }

  .hamburger-text {
    @include transition-property(all);
    @include transition-duration(0.4s);
    @include transition-timing-function(ease-in-out);
    @include margin(null null null ($hamburger-size * 2));
    text-transform: uppercase;
    font-size: $hamburger-size * 6;
    color: $hamburger-color;
    display: none;
  }

  .hamburger-icon {
    @include margin(null ($hamburger-size * 2) null null);
    top: $hamburger-size * 3.7;
  }

  .hamburger-icon,
  .hamburger-icon:before,
  .hamburger-icon:after {
    @include size(($hamburger-size * 6) ($hamburger-size));
    @include background($hamburger-color);
    @include position(absolute, null 0 null null);
    @include transition-property(all);
    @include transition-duration(0.4s);
    @include transition-timing-function(ease-in-out);
    display: block;
    content: '';
    border-radius: rem(1);
  }
  .hamburger-icon:before {
    top: $hamburger-size * -2;
  }
  .hamburger-icon:after {
    bottom: $hamburger-size * -2;
  }

  &.active .hamburger-icon {
    @include background(transparent);
  }
  &.active .hamburger-icon:before,
  &.active .hamburger-icon:after {
    top: 0;
  }
  &.active .hamburger-icon:before {
    @include transform(rotate(45deg));
  }
  &.active .hamburger-icon:after {
    @include transform(translateY($hamburger-size * -2) rotate(-45deg));
    top: $hamburger-size * 2;
  }
}
@include media($medium-screen-up) {
  .hamburger-trigger {
    .hamburger-text {
      display: inline-block;
    }
  }
}
@include media($large-screen-up) {
  .hamburger-trigger {
    @include padding(null ($hamburger-size-large * 10) null null);
    @include margin(($hamburger-size-large * 3) ($hamburger-size-large * 5) null null);
    height: $hamburger-size-large * 9;

    .hamburger-text {
      font-size: $hamburger-size-large * 6;
    }

    .hamburger-icon {
      @include margin(null ($hamburger-size-large * 2) null null);
      top: $hamburger-size-large * 3.7;
    }

    .hamburger-icon,
    .hamburger-icon:before,
    .hamburger-icon:after {
      @include size(($hamburger-size-large * 6) ($hamburger-size-large));
    }
    .hamburger-icon:before {
      top: $hamburger-size-large * -2;
    }
    .hamburger-icon:after {
      bottom: $hamburger-size-large * -2;
    }

    &.active .hamburger-icon:after {
      @include transform(translateY($hamburger-size-large * -2) rotate(-45deg));
      top: $hamburger-size-large * 2;
    }
  }
}

.header-main-nav-container {
  @include position(fixed, 0 null null 0);
  @include size(100% 100%);
  @include background(rgba(2, 23, 37, 0.96));
  @include padding($header-bar-size 0 $header-bar-size 0);
  @include backface-visibility(hidden);
  @include transform(translateY(-100%));
  @include transition-property(transform);
  @include transition-duration(0.4s);
  z-index: $nav-zindex;
  text-align: center;
  overflow: auto;

  li {
    @include margin(rem(10) 0 rem(10) 0);
    font-size: rem(20);
    text-transform: capitalize;
  }

  a {
    @include transition-property(background);
    @include transition-duration(0.2s);
    cursor: pointer;
    color: white;
    border-radius: rem(3);
  }

  .header-main-nav {
    a {
      @include padding(rem(8) rem(8) rem(8) rem(8));
      @include background(transparent);
      cursor: pointer;
      color: white;
      border-radius: rem(3);

      &:hover {
        @include background($site-theme-color-highlight);
      }
    }
  }

  .section-header {
    @include margin(1rem null null null);
    @include padding(0 0 0 0);
    color: #b4c6d3;
    text-transform: capitalize;
    font-size: rem(14);
  }

  .header-social-nav {
    li {
      @include padding(null rem(1) null rem(1));
      @include margin(0 0 0 0);
      display: inline-block;
    }

    .icon {
      @include padding(0 0 0 0);
      @include size(rem(44) rem(44));
      @include hide-text;
      cursor: pointer;
      display: inline-block;
    }

    a {
      &.github {
        @include background(url("../images/media-icons/github.svg") no-repeat);
      }

      &.twitter {
        @include background(url("../images/media-icons/twitter.svg") no-repeat);
      }

      &.linkedin {
        @include background(url("../images/media-icons/linkedin.svg") no-repeat);
      }

      &.facebook {
        @include background(url("../images/media-icons/facebook-square.svg") no-repeat);
      }

      &.googleplus {
        @include background(url("../images/media-icons/googleplus-square.svg") no-repeat);
      }

      &.rss-feed {
        @include background(url("../images/media-icons/rss-feed.svg") no-repeat);
      }
    }
  }
  @include media($medium-screen-up) {
    .header-social-nav {
      li {
        @include padding(null rem(5) null rem(5));
      }
    }
  }
}
@include media($large-screen-up) {
  .header-main-nav-container {
    @include padding($header-bar-size-large 0 $header-bar-size-large 0);
  }
}

.is-visible {
  @include transform(translateY(0));
}

.header-main-image {
  @include position(relative, null null null null);
  @include size(100% 100%);
  @include margin($header-bar-size null null null);
  @include background(url("http://placeskull.com/100/10/77DD77") center center no-repeat);
  background-size: cover;
  z-index: $content-zindex;
}
@include media($medium-screen-up) {
  .header-main-image {
    @include margin(0 null null null);
  }
}
