$site-theme-color-main: rgba(2, 23, 37, 0.95);
$site-theme-color-highlight: tint($site-theme-color-main, 20%);

$site-link-color-main: #C23B22;
$site-link-color-hover: #FF6961;


$header-size: rem(50);
$header-size-large: rem(80);

$hamburger-color: white;
$hamburger-size: $header-size / 16;
$hamburger-size-large: $header-size-large / 16;

$content-zindex: 1;
$nav-zindex: 2;
$header-zindex: 3;
